.popup__submit-button {
  min-width: 84.39%;
  min-height: 46px;
  padding: 0;
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 15px 0 25px;
  cursor: pointer;
}

@media screen and (min-width: 581px) {
  .popup__submit-button {
    max-width: 358px;
    margin: 18px 0 37px; 
    font-size: 18px;
    line-height: 22px;
    }
}

.popup__submit-button:hover {
  opacity: 0.8;
  }

