.header {
    margin: auto; 
    min-width: 320px;
    max-width: 68.75%;
    min-height: 56px;
    display: flex;
    padding: 28px 0 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    
    }

    @media screen and (min-width: 880px) {
        .header {
          min-width: 880px;
          padding: 45px 0 0;
          min-height: 74px;
        
    }
}