.profile__add-button {
  width: 282px;
  padding: 0;
  height: 50px; 
  background-color: transparent;
  border-color: #FFFFFF;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  border-radius: 2px solid #FFFFFF;;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
  }

@media screen and (min-width: 680px) {
  .profile__add-button {
    width: 150px;
    margin-left: auto;
  }
}