.profile__add-button {
    min-width: 100%;
    min-height: 50px;
    background-color: transparent;
    border-color: #FFFFFF;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    }

.profile__add-button:hover {
    opacity: 0.6;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}