.popup__close-button {
  position: absolute;
  top:-30px;
  right:0px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 581px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -40px; 
    right: -40px;
  }
}